.urls-box{
  width: 70%;
  height: 85%;
  color: #fff;
  background: rgba(255,255,255,0.3);
  border:2px solid black;
  border-radius: 5%;
  top: 12%;
  left: 2%;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 5px 10px 18px #000;
  overflow: auto;
}

.theme-box0{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 5%;
  left: 1%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box1{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 5%;
  left: 34%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box2{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 5%;
  left: 67%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}

.theme-box3{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 35%;
  left: 1%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box4{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 35%;
  left: 34%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box5{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 35%;
  left: 67%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box6{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 66%;
  left: 1%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box7{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 66%;
  left: 34%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
.theme-box8{
  width: 30%;
  height: 25%;
  color: #fff;
  background: rgba(255,255,255,0.1);
  top: 66%;
  left: 67%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 1px 5px 7px #000;
  overflow: auto;
  margin: 10px;
}
h1{
  margin-left: 3%;
  font-size: 18px;
}
a:link {
  color: black;
  padding-left: 2%;
}
a:hover {
  color: cyan;
}
