.sticker1 {
  resize:both;
  max-height:150px;
  max-width:300px;
  padding-top: 20px;
  background: rgba(0,0,0,0);
  min-height: 40px;
  min-width: 200px;
  position: absolute;
  left: 10%;
  top: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.sticker1 .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: rgb(80,56,32);
  background: linear-gradient(90deg, rgba(80,56,32,1) 0%, rgba(105,51,16,1) 31%, rgba(140,90,36,1) 58%, rgba(127,73,23,1) 73%, rgba(92,63,22,1) 100%);
}

.sticker1 textarea {
  box-sizing: border-box;
  min-height: 100px;
  min-width: 100%;
  background: rgba(0,0,0,0);
  border: none;
  display: block;
  resize:vertical;
}

.sticker1:hover {
  z-index: 1;
}

#show-note:checked ~ textarea:nth-of-type(1) {
  display:none;
}
#show-note:hover,#save-button:hover{
  cursor: pointer;
}

#save-button{
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
