/*header css*/
.topnav {
  background-color: rgba(0,0,0,0);
  text-align: center;
  margin-bottom: 25px;
  padding:1px;
}

.topnav input {
  color: #f2f2f2;
  background: rgba(0,0,0,0);
  padding: 20px 22px;
  font-size: 17px;
  border: none;
  border-radius: 15px;
}

input[class="right"]{
  float: right;
}

input[class="left"]{
  float: left;
}


.topnav input:hover{
  background: rgb(29,162,255);
  background: radial-gradient(circle, rgba(29,162,255,1) 0%, rgba(107,219,255,1) 40%, rgba(202,251,255,1) 71%, rgba(246,247,249,1) 100%);
  border-radius: 15px;
  box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition-duration: 2s opacity;
}
